.more-select {
  background-color: #2b2b2b;
  z-index: 1;
  position: sticky;
  top: 105px;
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border-width: 1px;
  border-color:#2b2b2b;
  border-style: solid;
  box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.5);
}
.more-select * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.more-select li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 2em;
  padding: 0;
}
.more-select a {
  display: inline-block;
  padding: 0.5em 17px;
  color: whitesmoke;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.more-select a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-left: 12px solid #c0a2c7;
  border-right: 12px solid #c0a2c7;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.more-select a:hover,
.more-select .current a {
  color:#c0a2c7;
  text-decoration: none;
}
.more-select a:hover:before,
.more-select .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}
