.logout-container
  = render partial: 'shared/myheader'
  = render partial: 'shared/myselect'
  .logout-body
    .logout-body__box
      .logout-nav
        %button{class: "logout-button"}
          = link_to "LOGOUT", destroy_user_session_path, class: "logout-button-link", style: "display: block", method: :delete